html {
    background-color: #F8F4F9;
    margin: auto;
}

main {
    color:black;
    justify-content: center;
    font-size: large;
}

button {
    padding: 2px 2px;
    margin: 7px;
    font-size: large;
}

canvas {
    border: 3px solid black;
}

.complete {
    border: 5px dashed black;
}